md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 0;}
md-pagination-wrapper {width: 100% !important;}
md-tabs .md-tab {width: 100%/$global-nav-items;}

md-tabs .md-tab.md-active {
  color: #FF9800;
}
